Deva-IA-legacy.json
{
  "name": "Deva IA",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1840,
        112
      ],
      "id": "83e489d4-4802-4774-9371-7a70c1df7b3d",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"pergunta\": \"Posso fazer uma retirada de 10 mil reais em janeiro de 2026?\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1648,
        112
      ],
      "id": "88a80a72-8a8e-4d12-9766-aaf36c2c7441",
      "name": "Set Pergunta"
    },
    {
      "parameters": {
        "jsCode": "const pergunta = $input.first().json.pergunta;\n\nconst promptClassificador = `Você é um Classificador de Intenção. Analise a pergunta e retorne APENAS um JSON válido (sem markdown) com:\n{\n  \"ano\": 2025,\n  \"tipo_analise\": \"financeira\",\n  \"pergunta_original\": \"texto\"\n}\n\nREGRAS:\n- ano: Se mencionar 'ano passado' ou '2025' = 2025. Se 'agora', 'futuro' ou '2026' = 2026\n- tipo_analise: 'financeira', 'vendas' ou 'operacional'\n\nPERGUNTA: ${pergunta}`;\n\nreturn {\n  json: {\n    contents: [{\n      role: \"user\",\n      parts: [{\n        text: promptClassificador\n      }]\n    }],\n    generationConfig: {\n      temperature: 0.1,\n      maxOutputTokens: 300\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1440,
        112
      ],
      "id": "b879959e-39aa-4943-8819-b0f0cb28d1f0",
      "name": "Montar Payload"
    },
    {
      "parameters": {
        "jsCode": "// Extrai o JSON da resposta do Gemini\nconst resposta = $input.first().json.content.parts[0].text\n// Remove markdown se houver\nlet jsonLimpo = resposta.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\n\n// Parse do JSON\nconst classificacao = JSON.parse(jsonLimpo);\n\n// Monta o nome do arquivo alvo\nconst targetFile = `Controle - ${classificacao.ano}`;\n\nreturn {\n  json: {\n    ano: classificacao.ano,\n    tipo_analise: classificacao.tipo_analise,\n    pergunta_original: classificacao.pergunta_original,\n    target_worksheet: targetFile\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -784,
        112
      ],
      "id": "0c4d569f-2443-4662-b076-62630aa3ee16",
      "name": "Parse Classificação"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "folder",
        "operation": "list",
        "path": "/Deva Cardans/Planilhas",
        "returnAll": true,
        "filters": {}
      },
      "type": "n8n-nodes-base.dropbox",
      "typeVersion": 1,
      "position": [
        -512,
        112
      ],
      "id": "8b69c05d-6528-40da-90cf-d75734a7d87c",
      "name": "Dropbox List",
      "credentials": {
        "dropboxOAuth2Api": {
          "id": "qVPhBI8XRDBzRuy5",
          "name": "Dropbox account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "filter-ano",
              "leftValue": "={{ $json.name }}",
              "rightValue": "={{ $('Parse Classificação').item.json.target_worksheet }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        -272,
        112
      ],
      "id": "db86bd4c-efd8-46c8-af84-581dd2ca5770",
      "name": "Filter Ano"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "download",
        "path": "={{ $json.pathDisplay }}"
      },
      "type": "n8n-nodes-base.dropbox",
      "typeVersion": 1,
      "position": [
        -32,
        112
      ],
      "id": "d2643e2a-ccfa-4d6d-a389-59e122e442c8",
      "name": "Dropbox Download",
      "credentials": {
        "dropboxOAuth2Api": {
          "id": "qVPhBI8XRDBzRuy5",
          "name": "Dropbox account"
        }
      }
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "headerRow": true,
          "sheetName": "Dashboard"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "0c1a5518-3f40-4141-8dcc-ebe2ccce03d6",
      "name": "Extract Dashboard",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "headerRow": true,
          "sheetName": "Fluxo de Caixa - Mensal"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        208,
        208
      ],
      "id": "9472f9e0-04f3-40d5-ac92-481f118c49d6",
      "name": "Extract Fluxo",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// FORMATADOR - Limpa dados e estrutura métricas\nconst items = $input.all();\nconst metricas = {};\nlet rawData = \"\";\n\nitems.forEach(item => {\n  const data = item.json;\n  \n  for (const key in data) {\n    const value = data[key];\n    \n    if (key.includes('__EMPTY') || value === null || value === undefined || value === '') {\n      continue;\n    }\n    \n    // Converte para string e adiciona ao raw data\n    rawData += `${key}: ${value}\\n`;\n    \n    const numValue = parseFloat(String(value).replace(/[R$\\s.]/g, '').replace(',', '.'));\n    \n    if (!isNaN(numValue) && numValue !== 0) {\n      const keyLower = key.toLowerCase();\n      \n      if (keyLower.includes('saldo') || keyLower.includes('caixa')) {\n        metricas['Saldo_Atual'] = numValue;\n      } else if (keyLower.includes('receita') || keyLower.includes('faturamento')) {\n        metricas['Faturamento_Total'] = (metricas['Faturamento_Total'] || 0) + numValue;\n      } else if (keyLower.includes('despesa') || keyLower.includes('custo')) {\n        metricas['Despesas_Total'] = (metricas['Despesas_Total'] || 0) + numValue;\n      } else if (keyLower.includes('resultado') || keyLower.includes('liquido')) {\n        metricas['Resultado_Liquido'] = numValue;\n      } else if (keyLower.includes('retirada')) {\n        metricas['Retiradas_Total'] = (metricas['Retiradas_Total'] || 0) + numValue;\n      }\n    }\n  }\n});\n\n// Se não encontrou métricas estruturadas, usa raw data\nif (Object.keys(metricas).length === 0) {\n  metricas['dados_brutos'] = rawData.substring(0, 2000);\n}\n\nreturn { json: metricas };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        112
      ],
      "id": "7611d9bb-a66d-4796-8edc-eda4730d6f98",
      "name": "Formatador"
    },
    {
      "parameters": {
        "jsCode": "// Pega a pergunta original\nconst perguntaOriginal = $node['Parse Classificação'].json.pergunta_original;\n\n// Pega os dados formatados\nconst metricas = $input.first().json;\n\n// Monta contexto financeiro\nlet contextoFinanceiro = \"DADOS FINANCEIROS:\\n\\n\";\n\nfor (const chave in metricas) {\n  const valor = metricas[chave];\n  if (chave === 'dados_brutos') {\n    contextoFinanceiro += valor;\n  } else {\n    const chaveFormatada = chave.replace(/_/g, ' ');\n    contextoFinanceiro += `${chaveFormatada}: R$ ${typeof valor === 'number' ? valor.toLocaleString('pt-BR', {minimumFractionDigits: 2}) : valor}\\n`;\n  }\n}\n\nconst promptCEO = `Você é o CEO da Deva Cardans. Você tem acesso aos dados financeiros consolidados.\n\n🔴 REGRA DE OURO: O saldo em caixa NUNCA pode ficar abaixo de R$ 60.000,00.\n\nTAREFA: Analise os dados e responda a pergunta de forma estratégica e objetiva.\n\nSe a pergunta envolver compras/retiradas:\n1. Verifique o saldo atual\n2. Simule o impacto\n3. Se ficar abaixo de R$ 60k, ALERTE o risco\n4. Sugira alternativas se necessário\n\nRESPONDA EM PORTUGUÊS.\n\n${contextoFinanceiro}\n\nPERGUNTA: ${perguntaOriginal}`;\n\nreturn {\n  json: {\n    contents: [\n      {\n        role: \"user\",\n        parts: [{ text: promptCEO }]\n      }\n    ],\n    generationConfig: {\n      temperature: 0.3,\n      maxOutputTokens: 2000\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        112
      ],
      "id": "c412fc8e-8537-415f-9573-3d4e73c50d60",
      "name": "Preparar Prompt CEO"
    },
    {
      "parameters": {
        "jsCode": "// Extrai resposta final\nconst respostaCEO = $input.first().json.candidates[0].content.parts[0].text;\n\nreturn {\n  json: {\n    resposta: respostaCEO,\n    status: \"success\",\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        112
      ],
      "id": "2a3ec989-cf1e-4709-a8b8-cf9b9e2f92e6",
      "name": "Resultado Final"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.contents[0].parts[0].text }}"
            }
          ]
        },
        "jsonOutput": "={{ false }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -1232,
        112
      ],
      "id": "a2bb975d-7f0d-41b6-9625-5bf9c9a74e2d",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "wA8iw2nMxMPbhdEL",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.contents[0].parts[0].text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        896,
        112
      ],
      "id": "717c229b-c570-42a4-9d45-e7b1899f396c",
      "name": "Message a model1",
      "credentials": {
        "googlePalmApi": {
          "id": "wA8iw2nMxMPbhdEL",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Pergunta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Pergunta": {
      "main": [
        [
          {
            "node": "Montar Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Payload": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Classificação": {
      "main": [
        [
          {
            "node": "Dropbox List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dropbox List": {
      "main": [
        [
          {
            "node": "Filter Ano",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Ano": {
      "main": [
        [
          {
            "node": "Dropbox Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dropbox Download": {
      "main": [
        [
          {
            "node": "Extract Dashboard",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Fluxo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Dashboard": {
      "main": [
        [
          {
            "node": "Formatador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Fluxo": {
      "main": [
        [
          {
            "node": "Formatador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatador": {
      "main": [
        [
          {
            "node": "Preparar Prompt CEO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Prompt CEO": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Parse Classificação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Resultado Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5411608a-5cfe-4544-9b9f-83575b653a74",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "031c656caa488c3f47e6c2152e161ba7b466ddd7ccfc5fdd243352eed315709c"
  },
  "id": "GWZG2zPWgPGPjUfZ",
  "tags": []
}