Deva-IA-v1.1-hybrid-approach.json
{
  "name": "Deva IA v1.1 - Hybrid",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1840,
        112
      ],
      "id": "83e489d4-4802-4774-9371-7a70c1df7b3d",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"pergunta\": \"Como janeiro de 2026 está performando comparado com janeiro de 2025?\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1648,
        112
      ],
      "id": "88a80a72-8a8e-4d12-9766-aaf36c2c7441",
      "name": "Set Pergunta"
    },
    {
      "parameters": {
        "jsCode": "const pergunta = $input.first().json.pergunta;\n\nconst promptClassificador = `Você é um Classificador de Intenção. Analise a pergunta e retorne APENAS um JSON válido (sem markdown) com:\n{\n  \"ano\": 2025,\n  \"tipo_analise\": \"financeira\",\n  \"eh_retirada\": false,\n  \"valor_retirada\": 0,\n  \"eh_comparacao\": false,\n  \"anos_comparar\": [],\n  \"pergunta_original\": \"texto\"\n}\n\nREGRAS:\n- ano: Se mencionar 'ano passado' ou '2025' = 2025. Se 'agora', 'futuro' ou '2026' = 2026 (se não for comparação)\n- tipo_analise: 'financeira', 'vendas' ou 'operacional'\n- eh_retirada: true se pergunta for sobre retirar/sacar/pegar dinheiro\n- valor_retirada: extraia o valor numérico se houver (ex: \"10 mil\" = 10000, \"50k\" = 50000)\n- eh_comparacao: true se a pergunta comparar períodos/anos (ex: \"vs\", \"comparado com\", \"crescimento\", \"variação\")\n- anos_comparar: array com os anos a comparar (ex: [2025, 2026] se comparar 2025 vs 2026). Se não for comparação, deixe vazio []\n\nEXEMPLOS:\n- \"Como janeiro/2026 está performando vs janeiro/2025?\" → eh_comparacao: true, anos_comparar: [2025, 2026]\n- \"Crescemos quanto % ano a ano?\" → eh_comparacao: true, anos_comparar: [2025, 2026]\n- \"Posso retirar 10 mil em janeiro de 2026?\" → eh_comparacao: false, anos_comparar: [], ano: 2026\n\nPERGUNTA: ${pergunta}`;\n\nreturn {\n  json: {\n    contents: [{\n      role: \"user\",\n      parts: [{\n        text: promptClassificador\n      }]\n    }],\n    generationConfig: {\n      temperature: 0.1,\n      maxOutputTokens: 400\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1440,
        112
      ],
      "id": "b879959e-39aa-4943-8819-b0f0cb28d1f0",
      "name": "Montar Payload"
    },
    {
      "parameters": {
        "jsCode": "const resposta = $input.first().json.content.parts[0].text\nlet jsonLimpo = resposta.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\nconst classificacao = JSON.parse(jsonLimpo);\n\n// Se for comparação, target_worksheet será array, senão string\nlet targetWorksheet;\nif (classificacao.eh_comparacao && classificacao.anos_comparar && classificacao.anos_comparar.length > 0) {\n  targetWorksheet = classificacao.anos_comparar.map(ano => `Controle - ${ano}`);\n} else {\n  targetWorksheet = `Controle - ${classificacao.ano}`;\n}\n\nreturn {\n  json: {\n    ano: classificacao.ano,\n    tipo_analise: classificacao.tipo_analise,\n    eh_retirada: classificacao.eh_retirada || false,\n    valor_retirada: classificacao.valor_retirada || 0,\n    eh_comparacao: classificacao.eh_comparacao || false,\n    anos_comparar: classificacao.anos_comparar || [],\n    pergunta_original: classificacao.pergunta_original,\n    target_worksheet: targetWorksheet\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -784,
        112
      ],
      "id": "0c4d569f-2443-4662-b076-62630aa3ee16",
      "name": "Parse Classificação"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "folder",
        "operation": "list",
        "path": "/Deva Cardans/Planilhas",
        "returnAll": true,
        "filters": {}
      },
      "type": "n8n-nodes-base.dropbox",
      "typeVersion": 1,
      "position": [
        -512,
        112
      ],
      "id": "8b69c05d-6528-40da-90cf-d75734a7d87c",
      "name": "Dropbox List",
      "credentials": {
        "dropboxOAuth2Api": {
          "id": "qVPhBI8XRDBzRuy5",
          "name": "Dropbox account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Filtra arquivos do Dropbox baseado na classificação\nconst classificacao = $node['Parse Classificação'].json;\nconst targetWorksheet = classificacao.target_worksheet;\nconst items = $input.all();\n\nlet filteredItems = [];\n\n// Se target_worksheet é array (comparação), filtra múltiplos arquivos\nif (Array.isArray(targetWorksheet)) {\n  items.forEach(item => {\n    const fileName = item.json.name;\n    // Verifica se o arquivo corresponde a algum dos anos a comparar\n    const match = targetWorksheet.some(worksheet => fileName.includes(worksheet));\n    if (match) {\n      filteredItems.push(item);\n    }\n  });\n} else {\n  // Se é string (consulta normal), filtra apenas 1 arquivo\n  items.forEach(item => {\n    if (item.json.name.includes(targetWorksheet)) {\n      filteredItems.push(item);\n    }\n  });\n}\n\nreturn filteredItems.map(item => ({ json: item.json }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        112
      ],
      "id": "db86bd4c-efd8-46c8-af84-581dd2ca5770",
      "name": "Filter Ano"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "download",
        "path": "={{ $json.pathDisplay }}"
      },
      "type": "n8n-nodes-base.dropbox",
      "typeVersion": 1,
      "position": [
        -32,
        112
      ],
      "id": "d2643e2a-ccfa-4d6d-a389-59e122e442c8",
      "name": "Dropbox Download",
      "credentials": {
        "dropboxOAuth2Api": {
          "id": "qVPhBI8XRDBzRuy5",
          "name": "Dropbox account"
        }
      }
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "sheetName": "Dashboard",
          "headerRow": false
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "extract-dashboard",
      "name": "Extract Dashboard"
    },
    {
      "parameters": {
        "jsCode": "// Limpa e estrutura dados do Dashboard\nconst items = $input.all();\nconst resultado = {\n  caixa: null,\n  janeiro: {\n    receber: null,\n    recebido: null,\n    pagar: null,\n    pago: null\n  },\n  saldo: {},\n  caixaProjetado: {}\n};\n\n// Busca valores específicos nas linhas\nfor (let i = 0; i < items.length; i++) {\n  const row = items[i].json.row;\n  if (!row) continue;\n  \n  // Linha 5 col 1: 'Caixa' -> valor na linha 7 col 1\n  if (row[1] === 'Caixa' && i + 2 < items.length) {\n    const valorRow = items[i + 2].json.row;\n    if (valorRow && typeof valorRow[1] === 'number') {\n      resultado.caixa = valorRow[1];\n    }\n  }\n  \n  // Linha 5 col 9: 'Receber (Janeiro)' -> valor na linha 7 col 9\n  if (row[9] === 'Receber (Janeiro)' && i + 2 < items.length) {\n    const valorRow = items[i + 2].json.row;\n    if (valorRow && typeof valorRow[9] === 'number') {\n      resultado.janeiro.receber = valorRow[9];\n    }\n  }\n  \n  // Linha 12 col 9: 'Recebido (Janeiro)' -> valor na linha 14 col 9\n  if (row[9] === 'Recebido (Janeiro)' && i + 2 < items.length) {\n    const valorRow = items[i + 2].json.row;\n    if (valorRow && typeof valorRow[9] === 'number') {\n      resultado.janeiro.recebido = valorRow[9];\n    }\n  }\n  \n  // Linha 19 col 9: 'Pagar (Janeiro)' -> valor na linha 21 col 9\n  if (row[9] === 'Pagar (Janeiro)' && i + 2 < items.length) {\n    const valorRow = items[i + 2].json.row;\n    if (valorRow && typeof valorRow[9] === 'number') {\n      resultado.janeiro.pagar = valorRow[9];\n    }\n  }\n  \n  // Linha 26 col 9: 'Pago (Janeiro)' -> valor na linha 28 col 9\n  if (row[9] === 'Pago (Janeiro)' && i + 2 < items.length) {\n    const valorRow = items[i + 2].json.row;\n    if (valorRow && typeof valorRow[9] === 'number') {\n      resultado.janeiro.pago = valorRow[9];\n    }\n  }\n  \n  // Linha 33 col 9: 'Caixa Projetado (Janeiro)' -> valor na linha 35 col 9\n  if (row[9] === 'Caixa Projetado (Janeiro)' && i + 2 < items.length) {\n    const valorRow = items[i + 2].json.row;\n    if (valorRow && typeof valorRow[9] === 'number') {\n      resultado.caixaProjetado.Janeiro = valorRow[9];\n    }\n  }\n  \n  // Linha 57: meses (Janeiro na col 4)\n  if (row[4] === 'Janeiro' && i + 1 < items.length && i + 2 < items.length) {\n    const entradaRow = items[i + 1].json.row;\n    const saidaRow = items[i + 2].json.row;\n    \n    if (entradaRow && saidaRow) {\n      const entrada = entradaRow[4] || 0;\n      const saida = saidaRow[4] || 0;\n      resultado.saldo.Janeiro = entrada - saida;\n    }\n  }\n}\n\nreturn { json: resultado };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "id": "clean-dashboard",
      "name": "Clean Dashboard"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "sheetName": "Fluxo de Caixa - Mensal",
          "headerRow": false
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        208,
        208
      ],
      "id": "extract-fluxo",
      "name": "Extract Fluxo"
    },
    {
      "parameters": {
        "jsCode": "// Limpa e estrutura dados do Fluxo de Caixa\nconst items = $input.all();\nconst mesesNomes = ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', \n                    'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'];\n\nconst mesAtual = new Date().getMonth();\nconst nomeDoMesAtual = mesesNomes[mesAtual];\n\nconst resultado = {\n  realizado: {\n    saldoInicial: {},\n    entradas: {},\n    saidas: {},\n    caixaFinal: {}\n  },\n  emAndamento: {\n    entradasAReceber: {},\n    saidasAPagar: {},\n    movimentacaoTotal: {},\n    saldo: {}\n  }\n};\n\n// Processa cada linha do fluxo\nitems.forEach((item, idx) => {\n  const row = item.json.row;\n  if (!row || row.length === 0) return;\n  \n  const primeiraColuna = row[0];\n  if (!primeiraColuna) return;\n  \n  // Linha 3: Saldo Inicial (apenas mês atual)\n  if (primeiraColuna === 'Saldo Inicial') {\n    mesesNomes.forEach((mes, i) => {\n      const valor = row[i + 1];\n      if (valor && typeof valor === 'number' && mes === nomeDoMesAtual) {\n        resultado.realizado.saldoInicial[mes] = valor;\n      }\n    });\n  }\n  \n  // Linha 4: Entradas\n  if (primeiraColuna === 'Entradas') {\n    mesesNomes.forEach((mes, i) => {\n      const valor = row[i + 1];\n      if (valor && typeof valor === 'number' && valor !== 0) {\n        resultado.realizado.entradas[mes] = { total: valor };\n      }\n    });\n  }\n  \n  // Linha 8: Saídas\n  if (primeiraColuna === 'Saídas') {\n    mesesNomes.forEach((mes, i) => {\n      const valor = row[i + 1];\n      if (valor && typeof valor === 'number' && valor !== 0) {\n        resultado.realizado.saidas[mes] = { total: valor };\n      }\n    });\n  }\n  \n  // Linha 19: Caixa (Caixa Final, apenas mês atual)\n  if (primeiraColuna === 'Caixa') {\n    mesesNomes.forEach((mes, i) => {\n      const valor = row[i + 1];\n      if (valor && typeof valor === 'number' && mes === nomeDoMesAtual) {\n        resultado.realizado.caixaFinal[mes] = valor;\n      }\n    });\n  }\n  \n  // Linha 22: Entradas (A receber)\n  if (primeiraColuna === 'Entradas (A receber)') {\n    for (let i = 0; i < 5; i++) {\n      const valor = row[i + 1];\n      if (valor && typeof valor === 'number' && valor !== 0) {\n        resultado.emAndamento.entradasAReceber[mesesNomes[i]] = { total: valor };\n      }\n    }\n  }\n  \n  // Linha 26: Saídas (A pagar)\n  if (primeiraColuna === 'Saídas (A pagar)') {\n    for (let i = 0; i < 5; i++) {\n      const valor = row[i + 1];\n      if (valor && typeof valor === 'number' && valor !== 0) {\n        resultado.emAndamento.saidasAPagar[mesesNomes[i]] = { total: valor };\n      }\n    }\n  }\n  \n  // Linha 36: Movimentação Total\n  if (primeiraColuna === 'Movimentação Total') {\n    for (let i = 0; i < 5; i++) {\n      const valor = row[i + 1];\n      if (valor && typeof valor === 'number') {\n        resultado.emAndamento.movimentacaoTotal[mesesNomes[i]] = valor;\n      }\n    }\n  }\n  \n  // Linha 37: Saldo\n  if (primeiraColuna === 'Saldo') {\n    for (let i = 0; i < 5; i++) {\n      const valor = row[i + 1];\n      if (valor && typeof valor === 'number' && valor !== 0) {\n        resultado.emAndamento.saldo[mesesNomes[i]] = valor;\n      }\n    }\n  }\n});\n\nreturn { json: resultado };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        208
      ],
      "id": "clean-fluxo",
      "name": "Clean Fluxo"
    },
    {
      "parameters": {
        "jsCode": "// Combina dados do Dashboard e Fluxo de Caixa (com suporte a comparação)\nconst items = $input.all();\nconst classificacao = $node['Parse Classificação'].json;\nconst ehComparacao = classificacao.eh_comparacao;\nconst anosComparar = classificacao.anos_comparar || [];\n\n// Para mapear os dados por ano\nconst dadosPorAno = {};\n\n// Se for comparação, precisamos identificar de qual planilha veio cada dado\nif (ehComparacao && anosComparar.length > 0) {\n  // Inicializa estrutura para cada ano\n  anosComparar.forEach(ano => {\n    dadosPorAno[ano] = {\n      dashboard: {},\n      fluxoCaixa: {},\n      resumoFinanceiro: {}\n    };\n  });\n  \n  // Processa os items e identifica qual ano cada um pertence\n  // Os dados vêm dos nodes Clean Dashboard e Clean Fluxo\n  // Precisamos inferir o ano baseado na ordem ou adicionar metadados\n  \n  // Por enquanto, vamos assumir que os items vêm em ordem dos anos_comparar\n  // Dashboard items primeiro, depois Fluxo items\n  const dashboardItems = [];\n  const fluxoItems = [];\n  \n  items.forEach(item => {\n    const data = item.json;\n    if (data.caixa !== undefined) {\n      dashboardItems.push(data);\n    } else if (data.realizado !== undefined) {\n      fluxoItems.push(data);\n    }\n  });\n  \n  // Mapeia Dashboard items aos anos (na ordem)\n  dashboardItems.forEach((data, idx) => {\n    if (idx < anosComparar.length) {\n      const ano = anosComparar[idx];\n      dadosPorAno[ano].dashboard = data;\n      dadosPorAno[ano].resumoFinanceiro.caixaAtual = data.caixa;\n      if (data.janeiro) {\n        dadosPorAno[ano].resumoFinanceiro.receberJaneiro = data.janeiro.receber;\n        dadosPorAno[ano].resumoFinanceiro.pagarJaneiro = data.janeiro.pagar;\n        dadosPorAno[ano].resumoFinanceiro.saldoJaneiro = data.saldo?.Janeiro;\n      }\n    }\n  });\n  \n  // Mapeia Fluxo items aos anos (na ordem)\n  fluxoItems.forEach((data, idx) => {\n    if (idx < anosComparar.length) {\n      const ano = anosComparar[idx];\n      dadosPorAno[ano].fluxoCaixa = data;\n      if (data.realizado.saldoInicial?.Janeiro) {\n        dadosPorAno[ano].resumoFinanceiro.saldoInicialMes = data.realizado.saldoInicial.Janeiro;\n      }\n      if (data.emAndamento) {\n        dadosPorAno[ano].resumoFinanceiro.projecaoProximosMeses = data.emAndamento.movimentacaoTotal;\n      }\n    }\n  });\n  \n  // Calcula variações entre anos\n  const comparacao = {\n    tipo: 'year-over-year',\n    anos: anosComparar,\n    variacoes: {}\n  };\n  \n  if (anosComparar.length === 2) {\n    const [anoBase, anoComparacao] = anosComparar;\n    const dadosBase = dadosPorAno[anoBase];\n    const dadosComp = dadosPorAno[anoComparacao];\n    \n    // Calcula variações\n    if (dadosBase.dashboard.caixa && dadosComp.dashboard.caixa) {\n      const varCaixa = ((dadosComp.dashboard.caixa - dadosBase.dashboard.caixa) / dadosBase.dashboard.caixa) * 100;\n      comparacao.variacoes.caixa = {\n        valor_base: dadosBase.dashboard.caixa,\n        valor_comparacao: dadosComp.dashboard.caixa,\n        variacao_percentual: varCaixa.toFixed(2),\n        diferenca_absoluta: dadosComp.dashboard.caixa - dadosBase.dashboard.caixa\n      };\n    }\n    \n    if (dadosBase.dashboard.janeiro?.receber && dadosComp.dashboard.janeiro?.receber) {\n      const varReceber = ((dadosComp.dashboard.janeiro.receber - dadosBase.dashboard.janeiro.receber) / dadosBase.dashboard.janeiro.receber) * 100;\n      comparacao.variacoes.receberJaneiro = {\n        valor_base: dadosBase.dashboard.janeiro.receber,\n        valor_comparacao: dadosComp.dashboard.janeiro.receber,\n        variacao_percentual: varReceber.toFixed(2),\n        diferenca_absoluta: dadosComp.dashboard.janeiro.receber - dadosBase.dashboard.janeiro.receber\n      };\n    }\n    \n    if (dadosBase.dashboard.janeiro?.pagar && dadosComp.dashboard.janeiro?.pagar) {\n      const varPagar = ((dadosComp.dashboard.janeiro.pagar - dadosBase.dashboard.janeiro.pagar) / dadosBase.dashboard.janeiro.pagar) * 100;\n      comparacao.variacoes.pagarJaneiro = {\n        valor_base: dadosBase.dashboard.janeiro.pagar,\n        valor_comparacao: dadosComp.dashboard.janeiro.pagar,\n        variacao_percentual: varPagar.toFixed(2),\n        diferenca_absoluta: dadosComp.dashboard.janeiro.pagar - dadosBase.dashboard.janeiro.pagar\n      };\n    }\n  }\n  \n  return {\n    json: {\n      eh_comparacao: true,\n      dados_por_ano: dadosPorAno,\n      comparacao: comparacao\n    }\n  };\n  \n} else {\n  // Fluxo normal (não comparação)\n  const dadosCombinados = {\n    dashboard: {},\n    fluxoCaixa: {},\n    resumoFinanceiro: {}\n  };\n  \n  items.forEach(item => {\n    const data = item.json;\n    \n    if (data.caixa !== undefined) {\n      dadosCombinados.dashboard = data;\n      dadosCombinados.resumoFinanceiro.caixaAtual = data.caixa;\n      if (data.janeiro) {\n        dadosCombinados.resumoFinanceiro.receberJaneiro = data.janeiro.receber;\n        dadosCombinados.resumoFinanceiro.pagarJaneiro = data.janeiro.pagar;\n        dadosCombinados.resumoFinanceiro.saldoJaneiro = data.saldo?.Janeiro;\n      }\n    } else if (data.realizado !== undefined) {\n      dadosCombinados.fluxoCaixa = data;\n      if (data.realizado.saldoInicial?.Janeiro) {\n        dadosCombinados.resumoFinanceiro.saldoInicialMes = data.realizado.saldoInicial.Janeiro;\n      }\n      if (data.emAndamento) {\n        dadosCombinados.resumoFinanceiro.projecaoProximosMeses = data.emAndamento.movimentacaoTotal;\n      }\n    }\n  });\n  \n  return { json: dadosCombinados };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        112
      ],
      "id": "combinar",
      "name": "Combinar Dados"
    },
    {
      "parameters": {
        "jsCode": "const classificacao = $node['Parse Classificação'].json;\nconst perguntaOriginal = classificacao.pergunta_original;\nconst ehRetirada = classificacao.eh_retirada;\nconst valorRetirada = classificacao.valor_retirada;\nconst ehComparacao = classificacao.eh_comparacao;\nconst dados = $input.first().json;\n\nlet contextoFinanceiro = \"\";\nlet promptCEO = \"\";\n\n// ========== MODO COMPARAÇÃO ==========\nif (ehComparacao && dados.eh_comparacao) {\n  const dadosPorAno = dados.dados_por_ano;\n  const comparacao = dados.comparacao;\n  const anos = comparacao.anos;\n  \n  contextoFinanceiro = \"📊 ANÁLISE COMPARATIVA ENTRE PERÍODOS\\n\\n\";\n  \n  // Exibe dados de cada ano lado a lado\n  anos.forEach(ano => {\n    const dadosAno = dadosPorAno[ano];\n    contextoFinanceiro += `=== ANO ${ano} ===\\n`;\n    \n    if (dadosAno.dashboard.caixa) {\n      contextoFinanceiro += `💰 Caixa: R$ ${dadosAno.dashboard.caixa.toLocaleString('pt-BR', {minimumFractionDigits: 2})}\\n`;\n    }\n    \n    if (dadosAno.dashboard.janeiro) {\n      contextoFinanceiro += `📥 Janeiro - A Receber: R$ ${(dadosAno.dashboard.janeiro.receber || 0).toLocaleString('pt-BR', {minimumFractionDigits: 2})}\\n`;\n      contextoFinanceiro += `📤 Janeiro - A Pagar: R$ ${(dadosAno.dashboard.janeiro.pagar || 0).toLocaleString('pt-BR', {minimumFractionDigits: 2})}\\n`;\n    }\n    contextoFinanceiro += \"\\n\";\n  });\n  \n  // Exibe variações calculadas\n  contextoFinanceiro += \"=== VARIAÇÕES (${anos[0]} → ${anos[1]}) ===\\n\";\n  \n  if (comparacao.variacoes.caixa) {\n    const v = comparacao.variacoes.caixa;\n    const sinal = v.variacao_percentual >= 0 ? '📈' : '📉';\n    contextoFinanceiro += `${sinal} Caixa: ${v.variacao_percentual}% `;\n    contextoFinanceiro += `(R$ ${v.valor_base.toLocaleString('pt-BR', {minimumFractionDigits: 2})} → R$ ${v.valor_comparacao.toLocaleString('pt-BR', {minimumFractionDigits: 2})})\\n`;\n  }\n  \n  if (comparacao.variacoes.receberJaneiro) {\n    const v = comparacao.variacoes.receberJaneiro;\n    const sinal = v.variacao_percentual >= 0 ? '📈' : '📉';\n    contextoFinanceiro += `${sinal} A Receber Janeiro: ${v.variacao_percentual}% `;\n    contextoFinanceiro += `(R$ ${v.valor_base.toLocaleString('pt-BR', {minimumFractionDigits: 2})} → R$ ${v.valor_comparacao.toLocaleString('pt-BR', {minimumFractionDigits: 2})})\\n`;\n  }\n  \n  if (comparacao.variacoes.pagarJaneiro) {\n    const v = comparacao.variacoes.pagarJaneiro;\n    const sinal = v.variacao_percentual >= 0 ? '📈' : '📉';\n    contextoFinanceiro += `${sinal} A Pagar Janeiro: ${v.variacao_percentual}% `;\n    contextoFinanceiro += `(R$ ${v.valor_base.toLocaleString('pt-BR', {minimumFractionDigits: 2})} → R$ ${v.valor_comparacao.toLocaleString('pt-BR', {minimumFractionDigits: 2})})\\n`;\n  }\n  \n  promptCEO = `Você é o CEO da Deva Cardans, uma empresa que preza pela prudência financeira.\n\nCONTEXTO DA EMPRESA:\n- Margem de segurança mínima em caixa: R$ 60.000,00 (nunca pode ficar abaixo)\n- Esta margem é sua linha vermelha - protege a empresa de imprevistos\n\nDADOS FINANCEIROS COMPARATIVOS:\n${contextoFinanceiro}\n\nPERGUNTA: ${perguntaOriginal}\n\nINSTRUÇÕES:\n- Analise a evolução entre os períodos apresentados\n- Identifique tendências positivas e pontos de atenção\n- Seja estratégico: o que os números revelam sobre a trajetória da empresa?\n- Responda de forma natural e objetiva, como um CEO experiente`;\n\n} else {\n  // ========== MODO NORMAL (NÃO COMPARAÇÃO) ==========\n  contextoFinanceiro = \"📊 DADOS FINANCEIROS CONSOLIDADOS\\n\\n\";\n  \n  contextoFinanceiro += \"=== DASHBOARD (Visão Atual) ===\\n\";\n  if (dados.dashboard.caixa) {\n    contextoFinanceiro += `💰 Caixa Atual: R$ ${dados.dashboard.caixa.toLocaleString('pt-BR', {minimumFractionDigits: 2})}\\n`;\n  }\n  if (dados.dashboard.janeiro) {\n    contextoFinanceiro += `\\n📥 JANEIRO - Recebimentos:\\n`;\n    contextoFinanceiro += `   A Receber: R$ ${(dados.dashboard.janeiro.receber || 0).toLocaleString('pt-BR', {minimumFractionDigits: 2})}\\n`;\n    contextoFinanceiro += `   Já Recebido: R$ ${(dados.dashboard.janeiro.recebido || 0).toLocaleString('pt-BR', {minimumFractionDigits: 2})}\\n`;\n    contextoFinanceiro += `\\n📤 JANEIRO - Pagamentos:\\n`;\n    contextoFinanceiro += `   A Pagar: R$ ${(dados.dashboard.janeiro.pagar || 0).toLocaleString('pt-BR', {minimumFractionDigits: 2})}\\n`;\n    contextoFinanceiro += `   Já Pago: R$ ${(dados.dashboard.janeiro.pago || 0).toLocaleString('pt-BR', {minimumFractionDigits: 2})}\\n`;\n  }\n  \n  contextoFinanceiro += \"\\n=== FLUXO DE CAIXA (Histórico + Projeção) ===\\n\";\n  if (dados.fluxoCaixa.realizado) {\n    const real = dados.fluxoCaixa.realizado;\n    if (real.saldoInicial?.Janeiro) {\n      contextoFinanceiro += `🏁 Saldo Inicial Janeiro: R$ ${real.saldoInicial.Janeiro.toLocaleString('pt-BR', {minimumFractionDigits: 2})}\\n`;\n    }\n    if (real.entradas?.Janeiro) {\n      contextoFinanceiro += `✅ Entradas Realizadas Jan: R$ ${real.entradas.Janeiro.total.toLocaleString('pt-BR', {minimumFractionDigits: 2})}\\n`;\n    }\n    if (real.saidas?.Janeiro) {\n      contextoFinanceiro += `❌ Saídas Realizadas Jan: R$ ${real.saidas.Janeiro.total.toLocaleString('pt-BR', {minimumFractionDigits: 2})}\\n`;\n    }\n  }\n  \n  if (dados.fluxoCaixa.emAndamento) {\n    const andamento = dados.fluxoCaixa.emAndamento;\n    contextoFinanceiro += \"\\n📈 PROJEÇÕES (Próximos Meses):\\n\";\n    \n    ['Janeiro', 'Fevereiro', 'Março'].forEach(mes => {\n      if (andamento.movimentacaoTotal?.[mes]) {\n        const mov = andamento.movimentacaoTotal[mes];\n        const simbolo = mov >= 0 ? '➕' : '➖';\n        contextoFinanceiro += `   ${simbolo} ${mes}: R$ ${mov.toLocaleString('pt-BR', {minimumFractionDigits: 2})}\\n`;\n      }\n    });\n  }\n  \n  promptCEO = `Você é o CEO da Deva Cardans, uma empresa que preza pela prudência financeira.\n\nCONTEXTO DA EMPRESA:\n- Margem de segurança mínima em caixa: R$ 60.000,00 (nunca pode ficar abaixo)\n- Esta margem é sua linha vermelha - protege a empresa de imprevistos\n\nDADOS FINANCEIROS:\n${contextoFinanceiro}\n\nPERGUNTA: ${perguntaOriginal}\n\nINSTRUÇÕES:\n- Responda como um CEO experiente responderia a um acionista\n- Seja direto, estratégico e use os dados para embasar sua análise\n- Fale naturalmente, sem forçar terminologias técnicas em excesso`;\n  \n  if (ehRetirada) {\n    promptCEO += `\n\nNOTA ESPECIAL: Esta é uma consulta sobre retirada`;\n    if (valorRetirada > 0) {\n      promptCEO += ` de R$ ${valorRetirada.toLocaleString('pt-BR', {minimumFractionDigits: 2})}`;\n    }\n    promptCEO += `.\nAvalie se é viável considerando a saúde financeira da empresa e projeções futuras.\nSe não for possível, indique o valor máximo seguro que pode ser retirado e explique o motivo de forma clara.`;\n  }\n}\n\nreturn {\n  json: {\n    contents: [\n      {\n        role: \"user\",\n        parts: [{ text: promptCEO }]\n      }\n    ],\n    generationConfig: {\n      temperature: 0.3,\n      maxOutputTokens: 2000\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        112
      ],
      "id": "preparar-prompt",
      "name": "Preparar Prompt CEO"
    },
    {
      "parameters": {
        "jsCode": "// Extrai resposta do Gemini (formato pode variar)\nconst input = $input.first().json;\nlet respostaCEO = '';\n\n// Tenta diferentes formatos de resposta\nif (input.candidates && input.candidates[0]) {\n  respostaCEO = input.candidates[0].content.parts[0].text;\n} else if (input.content && input.content.parts) {\n  respostaCEO = input.content.parts[0].text;\n} else if (input.text) {\n  respostaCEO = input.text;\n} else if (typeof input === 'string') {\n  respostaCEO = input;\n} else {\n  respostaCEO = JSON.stringify(input, null, 2);\n}\n\n// Busca dados da classificação\nconst classificacao = $node['Parse Classificação'].json;\nconst ehRetirada = classificacao.eh_retirada;\nconst valorRetirada = classificacao.valor_retirada || 0;\n\n// Extrai informações da resposta detalhada\nlet decisao = \"INFORMAÇÃO\";\nlet valorMaximoSeguro = null;\nlet resumo = \"\";\n\nif (ehRetirada) {\n  // Detecta se foi aprovada ou negada\n  const respostaLower = respostaCEO.toLowerCase();\n  \n  if (respostaLower.includes('negar') || respostaLower.includes('negada') || \n      respostaLower.includes('não autorizo') || respostaLower.includes('não posso aprovar') ||\n      respostaLower.includes('desaconselho') || respostaLower.includes('não é viável')) {\n    decisao = \"NEGADA\";\n  } else if (respostaLower.includes('aprovar') || respostaLower.includes('aprovada') || \n             respostaLower.includes('autorizo') || respostaLower.includes('pode ser realizada')) {\n    decisao = \"APROVADA\";\n  } else if (respostaLower.includes('atenção') || respostaLower.includes('cuidado') ||\n             respostaLower.includes('risco')) {\n    decisao = \"APROVADA COM RESSALVAS\";\n  }\n  \n  // Extrai valor máximo seguro\n  const regexValorMaximo = /valor\\s+(?:máximo\\s+)?seguro.*?r\\$\\s*([\\d.,]+)/i;\n  const matchValor = respostaCEO.match(regexValorMaximo);\n  if (matchValor && matchValor[1]) {\n    const valorStr = matchValor[1].replace(/\\./g, '').replace(',', '.');\n    valorMaximoSeguro = parseFloat(valorStr);\n  }\n  \n  // Gera resumo\n  if (decisao === \"NEGADA\") {\n    resumo = `Retirada negada. Valor solicitado: R$ ${valorRetirada.toLocaleString('pt-BR', {minimumFractionDigits: 2})}. `;\n    if (valorMaximoSeguro !== null) {\n      resumo += `Valor máximo seguro: R$ ${valorMaximoSeguro.toLocaleString('pt-BR', {minimumFractionDigits: 2})}. `;\n    }\n    if (respostaLower.includes('margem de segurança') || respostaLower.includes('60')) {\n      resumo += \"Motivo: Risco de violar a margem de segurança de R$ 60.000,00.\";\n    }\n  } else if (decisao === \"APROVADA\") {\n    resumo = `Retirada aprovada. Valor: R$ ${valorRetirada.toLocaleString('pt-BR', {minimumFractionDigits: 2})}. Saldo permanecerá dentro da margem de segurança.`;\n  } else if (decisao === \"APROVADA COM RESSALVAS\") {\n    resumo = `Retirada possível com ressalvas. Valor: R$ ${valorRetirada.toLocaleString('pt-BR', {minimumFractionDigits: 2})}. Atenção às projeções futuras.`;\n  }\n} else {\n  // Para perguntas não relacionadas a retirada\n  resumo = \"Análise financeira fornecida na resposta detalhada.\";\n}\n\nreturn {\n  json: {\n    resposta_detalhada: respostaCEO,\n    decisao: decisao,\n    valor_solicitado: valorRetirada,\n    valor_maximo_seguro: valorMaximoSeguro,\n    resumo: resumo,\n    status: \"success\",\n    timestamp: new Date().toISOString(),\n    versao: \"v1.1 - Hybrid Approach\"\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        112
      ],
      "id": "resultado",
      "name": "Resultado Final"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.contents[0].parts[0].text }}"
            }
          ]
        },
        "jsonOutput": "={{ false }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -1232,
        112
      ],
      "id": "gemini-classifier",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "wA8iw2nMxMPbhdEL",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.contents[0].parts[0].text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1168,
        112
      ],
      "id": "gemini-ceo",
      "name": "Message a model1",
      "credentials": {
        "googlePalmApi": {
          "id": "wA8iw2nMxMPbhdEL",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Pergunta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Pergunta": {
      "main": [
        [
          {
            "node": "Montar Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Payload": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Classificação": {
      "main": [
        [
          {
            "node": "Dropbox List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dropbox List": {
      "main": [
        [
          {
            "node": "Filter Ano",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Ano": {
      "main": [
        [
          {
            "node": "Dropbox Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dropbox Download": {
      "main": [
        [
          {
            "node": "Extract Dashboard",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Fluxo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Dashboard": {
      "main": [
        [
          {
            "node": "Clean Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Dashboard": {
      "main": [
        [
          {
            "node": "Combinar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Fluxo": {
      "main": [
        [
          {
            "node": "Clean Fluxo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Fluxo": {
      "main": [
        [
          {
            "node": "Combinar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combinar Dados": {
      "main": [
        [
          {
            "node": "Preparar Prompt CEO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Prompt CEO": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Parse Classificação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Resultado Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "v1.1-hybrid-approach",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "031c656caa488c3f47e6c2152e161ba7b466ddd7ccfc5fdd243352eed315709c"
  },
  "tags": [
    {
      "name": "v1.1",
      "id": "version-1-1"
    }
  ]
}