Deva-IA-v1.1-hybrid-approach.json
{
  "name": "Deva IA v1.1 - Hybrid",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1840,
        112
      ],
      "id": "83e489d4-4802-4774-9371-7a70c1df7b3d",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"pergunta\": \"Posso fazer uma retirada de 10 mil reais em janeiro de 2026?\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1648,
        112
      ],
      "id": "88a80a72-8a8e-4d12-9766-aaf36c2c7441",
      "name": "Set Pergunta"
    },
    {
      "parameters": {
        "jsCode": "const pergunta = $input.first().json.pergunta;\n\nconst promptClassificador = `Você é um Classificador de Intenção. Analise a pergunta e retorne APENAS um JSON válido (sem markdown) com:\n{\n  \"ano\": 2025,\n  \"tipo_analise\": \"financeira\",\n  \"eh_retirada\": false,\n  \"valor_retirada\": 0,\n  \"pergunta_original\": \"texto\"\n}\n\nREGRAS:\n- ano: Se mencionar 'ano passado' ou '2025' = 2025. Se 'agora', 'futuro' ou '2026' = 2026\n- tipo_analise: 'financeira', 'vendas' ou 'operacional'\n- eh_retirada: true se pergunta for sobre retirar/sacar/pegar dinheiro\n- valor_retirada: extraia o valor numérico se houver (ex: \"10 mil\" = 10000, \"50k\" = 50000)\n\nPERGUNTA: ${pergunta}`;\n\nreturn {\n  json: {\n    contents: [{\n      role: \"user\",\n      parts: [{\n        text: promptClassificador\n      }]\n    }],\n    generationConfig: {\n      temperature: 0.1,\n      maxOutputTokens: 300\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1440,
        112
      ],
      "id": "b879959e-39aa-4943-8819-b0f0cb28d1f0",
      "name": "Montar Payload"
    },
    {
      "parameters": {
        "jsCode": "const resposta = $input.first().json.content.parts[0].text\nlet jsonLimpo = resposta.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\nconst classificacao = JSON.parse(jsonLimpo);\nconst targetFile = `Controle - ${classificacao.ano}`;\n\nreturn {\n  json: {\n    ano: classificacao.ano,\n    tipo_analise: classificacao.tipo_analise,\n    eh_retirada: classificacao.eh_retirada || false,\n    valor_retirada: classificacao.valor_retirada || 0,\n    pergunta_original: classificacao.pergunta_original,\n    target_worksheet: targetFile\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -784,
        112
      ],
      "id": "0c4d569f-2443-4662-b076-62630aa3ee16",
      "name": "Parse Classificação"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "folder",
        "operation": "list",
        "path": "/Deva Cardans/Planilhas",
        "returnAll": true,
        "filters": {}
      },
      "type": "n8n-nodes-base.dropbox",
      "typeVersion": 1,
      "position": [
        -512,
        112
      ],
      "id": "8b69c05d-6528-40da-90cf-d75734a7d87c",
      "name": "Dropbox List",
      "credentials": {
        "dropboxOAuth2Api": {
          "id": "qVPhBI8XRDBzRuy5",
          "name": "Dropbox account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "filter-ano",
              "leftValue": "={{ $json.name }}",
              "rightValue": "={{ $('Parse Classificação').item.json.target_worksheet }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        -272,
        112
      ],
      "id": "db86bd4c-efd8-46c8-af84-581dd2ca5770",
      "name": "Filter Ano"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "download",
        "path": "={{ $json.pathDisplay }}"
      },
      "type": "n8n-nodes-base.dropbox",
      "typeVersion": 1,
      "position": [
        -32,
        112
      ],
      "id": "d2643e2a-ccfa-4d6d-a389-59e122e442c8",
      "name": "Dropbox Download",
      "credentials": {
        "dropboxOAuth2Api": {
          "id": "qVPhBI8XRDBzRuy5",
          "name": "Dropbox account"
        }
      }
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "sheetName": "Dashboard",
          "headerRow": false
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "extract-dashboard",
      "name": "Extract Dashboard"
    },
    {
      "parameters": {
        "jsCode": "// Limpa e estrutura dados do Dashboard\nconst items = $input.all();\nconst resultado = {\n  caixa: null,\n  janeiro: {\n    receber: null,\n    recebido: null,\n    pagar: null,\n    pago: null\n  },\n  saldo: {},\n  caixaProjetado: {}\n};\n\n// Busca valores específicos nas linhas\nfor (let i = 0; i < items.length; i++) {\n  const row = items[i].json.row;\n  if (!row) continue;\n  \n  // Linha 5 col 1: 'Caixa' -> valor na linha 7 col 1\n  if (row[1] === 'Caixa' && i + 2 < items.length) {\n    const valorRow = items[i + 2].json.row;\n    if (valorRow && typeof valorRow[1] === 'number') {\n      resultado.caixa = valorRow[1];\n    }\n  }\n  \n  // Linha 5 col 9: 'Receber (Janeiro)' -> valor na linha 7 col 9\n  if (row[9] === 'Receber (Janeiro)' && i + 2 < items.length) {\n    const valorRow = items[i + 2].json.row;\n    if (valorRow && typeof valorRow[9] === 'number') {\n      resultado.janeiro.receber = valorRow[9];\n    }\n  }\n  \n  // Linha 12 col 9: 'Recebido (Janeiro)' -> valor na linha 14 col 9\n  if (row[9] === 'Recebido (Janeiro)' && i + 2 < items.length) {\n    const valorRow = items[i + 2].json.row;\n    if (valorRow && typeof valorRow[9] === 'number') {\n      resultado.janeiro.recebido = valorRow[9];\n    }\n  }\n  \n  // Linha 19 col 9: 'Pagar (Janeiro)' -> valor na linha 21 col 9\n  if (row[9] === 'Pagar (Janeiro)' && i + 2 < items.length) {\n    const valorRow = items[i + 2].json.row;\n    if (valorRow && typeof valorRow[9] === 'number') {\n      resultado.janeiro.pagar = valorRow[9];\n    }\n  }\n  \n  // Linha 26 col 9: 'Pago (Janeiro)' -> valor na linha 28 col 9\n  if (row[9] === 'Pago (Janeiro)' && i + 2 < items.length) {\n    const valorRow = items[i + 2].json.row;\n    if (valorRow && typeof valorRow[9] === 'number') {\n      resultado.janeiro.pago = valorRow[9];\n    }\n  }\n  \n  // Linha 33 col 9: 'Caixa Projetado (Janeiro)' -> valor na linha 35 col 9\n  if (row[9] === 'Caixa Projetado (Janeiro)' && i + 2 < items.length) {\n    const valorRow = items[i + 2].json.row;\n    if (valorRow && typeof valorRow[9] === 'number') {\n      resultado.caixaProjetado.Janeiro = valorRow[9];\n    }\n  }\n  \n  // Linha 57: meses (Janeiro na col 4)\n  if (row[4] === 'Janeiro' && i + 1 < items.length && i + 2 < items.length) {\n    const entradaRow = items[i + 1].json.row;\n    const saidaRow = items[i + 2].json.row;\n    \n    if (entradaRow && saidaRow) {\n      const entrada = entradaRow[4] || 0;\n      const saida = saidaRow[4] || 0;\n      resultado.saldo.Janeiro = entrada - saida;\n    }\n  }\n}\n\nreturn { json: resultado };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "id": "clean-dashboard",
      "name": "Clean Dashboard"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "sheetName": "Fluxo de Caixa - Mensal",
          "headerRow": false
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        208,
        208
      ],
      "id": "extract-fluxo",
      "name": "Extract Fluxo"
    },
    {
      "parameters": {
        "jsCode": "// Limpa e estrutura dados do Fluxo de Caixa\nconst items = $input.all();\nconst mesesNomes = ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', \n                    'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'];\n\nconst mesAtual = new Date().getMonth();\nconst nomeDoMesAtual = mesesNomes[mesAtual];\n\nconst resultado = {\n  realizado: {\n    saldoInicial: {},\n    entradas: {},\n    saidas: {},\n    caixaFinal: {}\n  },\n  emAndamento: {\n    entradasAReceber: {},\n    saidasAPagar: {},\n    movimentacaoTotal: {},\n    saldo: {}\n  }\n};\n\n// Processa cada linha do fluxo\nitems.forEach((item, idx) => {\n  const row = item.json.row;\n  if (!row || row.length === 0) return;\n  \n  const primeiraColuna = row[0];\n  if (!primeiraColuna) return;\n  \n  // Linha 3: Saldo Inicial (apenas mês atual)\n  if (primeiraColuna === 'Saldo Inicial') {\n    mesesNomes.forEach((mes, i) => {\n      const valor = row[i + 1];\n      if (valor && typeof valor === 'number' && mes === nomeDoMesAtual) {\n        resultado.realizado.saldoInicial[mes] = valor;\n      }\n    });\n  }\n  \n  // Linha 4: Entradas\n  if (primeiraColuna === 'Entradas') {\n    mesesNomes.forEach((mes, i) => {\n      const valor = row[i + 1];\n      if (valor && typeof valor === 'number' && valor !== 0) {\n        resultado.realizado.entradas[mes] = { total: valor };\n      }\n    });\n  }\n  \n  // Linha 8: Saídas\n  if (primeiraColuna === 'Saídas') {\n    mesesNomes.forEach((mes, i) => {\n      const valor = row[i + 1];\n      if (valor && typeof valor === 'number' && valor !== 0) {\n        resultado.realizado.saidas[mes] = { total: valor };\n      }\n    });\n  }\n  \n  // Linha 19: Caixa (Caixa Final, apenas mês atual)\n  if (primeiraColuna === 'Caixa') {\n    mesesNomes.forEach((mes, i) => {\n      const valor = row[i + 1];\n      if (valor && typeof valor === 'number' && mes === nomeDoMesAtual) {\n        resultado.realizado.caixaFinal[mes] = valor;\n      }\n    });\n  }\n  \n  // Linha 22: Entradas (A receber)\n  if (primeiraColuna === 'Entradas (A receber)') {\n    for (let i = 0; i < 5; i++) {\n      const valor = row[i + 1];\n      if (valor && typeof valor === 'number' && valor !== 0) {\n        resultado.emAndamento.entradasAReceber[mesesNomes[i]] = { total: valor };\n      }\n    }\n  }\n  \n  // Linha 26: Saídas (A pagar)\n  if (primeiraColuna === 'Saídas (A pagar)') {\n    for (let i = 0; i < 5; i++) {\n      const valor = row[i + 1];\n      if (valor && typeof valor === 'number' && valor !== 0) {\n        resultado.emAndamento.saidasAPagar[mesesNomes[i]] = { total: valor };\n      }\n    }\n  }\n  \n  // Linha 36: Movimentação Total\n  if (primeiraColuna === 'Movimentação Total') {\n    for (let i = 0; i < 5; i++) {\n      const valor = row[i + 1];\n      if (valor && typeof valor === 'number') {\n        resultado.emAndamento.movimentacaoTotal[mesesNomes[i]] = valor;\n      }\n    }\n  }\n  \n  // Linha 37: Saldo\n  if (primeiraColuna === 'Saldo') {\n    for (let i = 0; i < 5; i++) {\n      const valor = row[i + 1];\n      if (valor && typeof valor === 'number' && valor !== 0) {\n        resultado.emAndamento.saldo[mesesNomes[i]] = valor;\n      }\n    }\n  }\n});\n\nreturn { json: resultado };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        208
      ],
      "id": "clean-fluxo",
      "name": "Clean Fluxo"
    },
    {
      "parameters": {
        "jsCode": "// Combina dados do Dashboard e Fluxo de Caixa\nconst items = $input.all();\nconst dadosCombinados = {\n  dashboard: {},\n  fluxoCaixa: {},\n  resumoFinanceiro: {}\n};\n\nitems.forEach(item => {\n  const data = item.json;\n  \n  if (data.caixa !== undefined) {\n    dadosCombinados.dashboard = data;\n    dadosCombinados.resumoFinanceiro.caixaAtual = data.caixa;\n    if (data.janeiro) {\n      dadosCombinados.resumoFinanceiro.receberJaneiro = data.janeiro.receber;\n      dadosCombinados.resumoFinanceiro.pagarJaneiro = data.janeiro.pagar;\n      dadosCombinados.resumoFinanceiro.saldoJaneiro = data.saldo?.Janeiro;\n    }\n  } else if (data.realizado !== undefined) {\n    dadosCombinados.fluxoCaixa = data;\n    if (data.realizado.saldoInicial?.Janeiro) {\n      dadosCombinados.resumoFinanceiro.saldoInicialMes = data.realizado.saldoInicial.Janeiro;\n    }\n    if (data.emAndamento) {\n      dadosCombinados.resumoFinanceiro.projecaoProximosMeses = data.emAndamento.movimentacaoTotal;\n    }\n  }\n});\n\nreturn { json: dadosCombinados };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        112
      ],
      "id": "combinar",
      "name": "Combinar Dados"
    },
    {
      "parameters": {
        "jsCode": "const classificacao = $node['Parse Classificação'].json;\nconst perguntaOriginal = classificacao.pergunta_original;\nconst ehRetirada = classificacao.eh_retirada;\nconst valorRetirada = classificacao.valor_retirada;\nconst dados = $input.first().json;\n\nlet contextoFinanceiro = \"📊 DADOS FINANCEIROS CONSOLIDADOS\\n\\n\";\n\ncontextoFinanceiro += \"=== DASHBOARD (Visão Atual) ===\\n\";\nif (dados.dashboard.caixa) {\n  contextoFinanceiro += `💰 Caixa Atual: R$ ${dados.dashboard.caixa.toLocaleString('pt-BR', {minimumFractionDigits: 2})}\\n`;\n}\nif (dados.dashboard.janeiro) {\n  contextoFinanceiro += `\\n📥 JANEIRO - Recebimentos:\\n`;\n  contextoFinanceiro += `   A Receber: R$ ${(dados.dashboard.janeiro.receber || 0).toLocaleString('pt-BR', {minimumFractionDigits: 2})}\\n`;\n  contextoFinanceiro += `   Já Recebido: R$ ${(dados.dashboard.janeiro.recebido || 0).toLocaleString('pt-BR', {minimumFractionDigits: 2})}\\n`;\n  contextoFinanceiro += `\\n📤 JANEIRO - Pagamentos:\\n`;\n  contextoFinanceiro += `   A Pagar: R$ ${(dados.dashboard.janeiro.pagar || 0).toLocaleString('pt-BR', {minimumFractionDigits: 2})}\\n`;\n  contextoFinanceiro += `   Já Pago: R$ ${(dados.dashboard.janeiro.pago || 0).toLocaleString('pt-BR', {minimumFractionDigits: 2})}\\n`;\n}\n\ncontextoFinanceiro += \"\\n=== FLUXO DE CAIXA (Histórico + Projeção) ===\\n\";\nif (dados.fluxoCaixa.realizado) {\n  const real = dados.fluxoCaixa.realizado;\n  if (real.saldoInicial?.Janeiro) {\n    contextoFinanceiro += `🏁 Saldo Inicial Janeiro: R$ ${real.saldoInicial.Janeiro.toLocaleString('pt-BR', {minimumFractionDigits: 2})}\\n`;\n  }\n  if (real.entradas?.Janeiro) {\n    contextoFinanceiro += `✅ Entradas Realizadas Jan: R$ ${real.entradas.Janeiro.total.toLocaleString('pt-BR', {minimumFractionDigits: 2})}\\n`;\n  }\n  if (real.saidas?.Janeiro) {\n    contextoFinanceiro += `❌ Saídas Realizadas Jan: R$ ${real.saidas.Janeiro.total.toLocaleString('pt-BR', {minimumFractionDigits: 2})}\\n`;\n  }\n}\n\nif (dados.fluxoCaixa.emAndamento) {\n  const andamento = dados.fluxoCaixa.emAndamento;\n  contextoFinanceiro += \"\\n📈 PROJEÇÕES (Próximos Meses):\\n\";\n  \n  ['Janeiro', 'Fevereiro', 'Março'].forEach(mes => {\n    if (andamento.movimentacaoTotal?.[mes]) {\n      const mov = andamento.movimentacaoTotal[mes];\n      const simbolo = mov >= 0 ? '➕' : '➖';\n      contextoFinanceiro += `   ${simbolo} ${mes}: R$ ${mov.toLocaleString('pt-BR', {minimumFractionDigits: 2})}\\n`;\n    }\n  });\n}\n\nlet promptCEO = `Você é o CEO da Deva Cardans. Você tem acesso aos dados financeiros consolidados.\n\n🔴 REGRA DE OURO: O saldo em caixa NUNCA pode ficar abaixo de R$ 60.000,00 (margem de segurança obrigatória).\n\nTAREFA: Analise os dados e responda a pergunta de forma estratégica e objetiva.\n\nSe a pergunta envolver compras/retiradas:\n1. Verifique o saldo atual\n2. Simule o impacto (Caixa Atual - Valor Solicitado - Compromissos Pendentes)\n3. Compare com a margem de segurança de R$ 60.000,00\n4. Se o saldo final ficar abaixo de R$ 60k, ALERTE o risco\n5. Considere as projeções dos próximos meses\n6. Sempre mencione explicitamente a margem de segurança de R$ 60k na resposta`;\n\nif (ehRetirada) {\n  promptCEO += `\n\n🚨 ATENÇÃO ESPECIAL: Esta é uma pergunta sobre RETIRADA DE DINHEIRO.`;\n  if (valorRetirada > 0) {\n    promptCEO += `\nValor solicitado: R$ ${valorRetirada.toLocaleString('pt-BR', {minimumFractionDigits: 2})}`;\n  }\n  promptCEO += `\n\n⚠️ REGRA CRÍTICA PARA RETIRADAS:\nSe você NEGAR ou DESACONSELHAR a retirada por risco financeiro:\n1. CALCULE e INFORME o valor máximo seguro que pode ser retirado\n2. Use a fórmula: Valor Máximo = (Caixa Atual - Contas a Pagar - Margem de Segurança 60k)\n3. Apresente de forma clara: \"✅ Valor seguro para retirada: R$ X,XXX.XX\"\n4. Explique o cálculo brevemente\n\nSempre que negar uma retirada, você DEVE sugerir um valor alternativo viável.`;\n}\n\npromptCEO += `\n\nRESPONDA EM PORTUGUÊS, de forma clara e direta.\n\n${contextoFinanceiro}\n\nPERGUNTA: ${perguntaOriginal}`;\n\nreturn {\n  json: {\n    contents: [\n      {\n        role: \"user\",\n        parts: [{ text: promptCEO }]\n      }\n    ],\n    generationConfig: {\n      temperature: 0.3,\n      maxOutputTokens: 2000\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        112
      ],
      "id": "preparar-prompt",
      "name": "Preparar Prompt CEO"
    },
    {
      "parameters": {
        "jsCode": "// Extrai resposta do Gemini (formato pode variar)\nconst input = $input.first().json;\nlet respostaCEO = '';\n\n// Tenta diferentes formatos de resposta\nif (input.candidates && input.candidates[0]) {\n  respostaCEO = input.candidates[0].content.parts[0].text;\n} else if (input.content && input.content.parts) {\n  respostaCEO = input.content.parts[0].text;\n} else if (input.text) {\n  respostaCEO = input.text;\n} else if (typeof input === 'string') {\n  respostaCEO = input;\n} else {\n  respostaCEO = JSON.stringify(input, null, 2);\n}\n\n// Busca dados da classificação\nconst classificacao = $node['Parse Classificação'].json;\nconst ehRetirada = classificacao.eh_retirada;\nconst valorRetirada = classificacao.valor_retirada || 0;\n\n// Extrai informações da resposta detalhada\nlet decisao = \"INFORMAÇÃO\";\nlet valorMaximoSeguro = null;\nlet resumo = \"\";\n\nif (ehRetirada) {\n  // Detecta se foi aprovada ou negada\n  const respostaLower = respostaCEO.toLowerCase();\n  \n  if (respostaLower.includes('negar') || respostaLower.includes('negada') || \n      respostaLower.includes('não autorizo') || respostaLower.includes('não posso aprovar') ||\n      respostaLower.includes('desaconselho') || respostaLower.includes('não é viável')) {\n    decisao = \"NEGADA\";\n  } else if (respostaLower.includes('aprovar') || respostaLower.includes('aprovada') || \n             respostaLower.includes('autorizo') || respostaLower.includes('pode ser realizada')) {\n    decisao = \"APROVADA\";\n  } else if (respostaLower.includes('atenção') || respostaLower.includes('cuidado') ||\n             respostaLower.includes('risco')) {\n    decisao = \"APROVADA COM RESSALVAS\";\n  }\n  \n  // Extrai valor máximo seguro\n  const regexValorMaximo = /valor\\s+(?:máximo\\s+)?seguro.*?r\\$\\s*([\\d.,]+)/i;\n  const matchValor = respostaCEO.match(regexValorMaximo);\n  if (matchValor && matchValor[1]) {\n    const valorStr = matchValor[1].replace(/\\./g, '').replace(',', '.');\n    valorMaximoSeguro = parseFloat(valorStr);\n  }\n  \n  // Gera resumo\n  if (decisao === \"NEGADA\") {\n    resumo = `Retirada negada. Valor solicitado: R$ ${valorRetirada.toLocaleString('pt-BR', {minimumFractionDigits: 2})}. `;\n    if (valorMaximoSeguro !== null) {\n      resumo += `Valor máximo seguro: R$ ${valorMaximoSeguro.toLocaleString('pt-BR', {minimumFractionDigits: 2})}. `;\n    }\n    if (respostaLower.includes('margem de segurança') || respostaLower.includes('60')) {\n      resumo += \"Motivo: Risco de violar a margem de segurança de R$ 60.000,00.\";\n    }\n  } else if (decisao === \"APROVADA\") {\n    resumo = `Retirada aprovada. Valor: R$ ${valorRetirada.toLocaleString('pt-BR', {minimumFractionDigits: 2})}. Saldo permanecerá dentro da margem de segurança.`;\n  } else if (decisao === \"APROVADA COM RESSALVAS\") {\n    resumo = `Retirada possível com ressalvas. Valor: R$ ${valorRetirada.toLocaleString('pt-BR', {minimumFractionDigits: 2})}. Atenção às projeções futuras.`;\n  }\n} else {\n  // Para perguntas não relacionadas a retirada\n  resumo = \"Análise financeira fornecida na resposta detalhada.\";\n}\n\nreturn {\n  json: {\n    resposta_detalhada: respostaCEO,\n    decisao: decisao,\n    valor_solicitado: valorRetirada,\n    valor_maximo_seguro: valorMaximoSeguro,\n    resumo: resumo,\n    status: \"success\",\n    timestamp: new Date().toISOString(),\n    versao: \"v1.1 - Hybrid Approach\"\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        112
      ],
      "id": "resultado",
      "name": "Resultado Final"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.contents[0].parts[0].text }}"
            }
          ]
        },
        "jsonOutput": "={{ false }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -1232,
        112
      ],
      "id": "gemini-classifier",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "wA8iw2nMxMPbhdEL",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.contents[0].parts[0].text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1168,
        112
      ],
      "id": "gemini-ceo",
      "name": "Message a model1",
      "credentials": {
        "googlePalmApi": {
          "id": "wA8iw2nMxMPbhdEL",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Pergunta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Pergunta": {
      "main": [
        [
          {
            "node": "Montar Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Payload": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Classificação": {
      "main": [
        [
          {
            "node": "Dropbox List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dropbox List": {
      "main": [
        [
          {
            "node": "Filter Ano",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Ano": {
      "main": [
        [
          {
            "node": "Dropbox Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dropbox Download": {
      "main": [
        [
          {
            "node": "Extract Dashboard",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Fluxo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Dashboard": {
      "main": [
        [
          {
            "node": "Clean Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Dashboard": {
      "main": [
        [
          {
            "node": "Combinar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Fluxo": {
      "main": [
        [
          {
            "node": "Clean Fluxo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Fluxo": {
      "main": [
        [
          {
            "node": "Combinar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combinar Dados": {
      "main": [
        [
          {
            "node": "Preparar Prompt CEO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Prompt CEO": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Parse Classificação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Resultado Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "v1.1-hybrid-approach",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "031c656caa488c3f47e6c2152e161ba7b466ddd7ccfc5fdd243352eed315709c"
  },
  "tags": [
    {
      "name": "v1.1",
      "id": "version-1-1"
    }
  ]
}